<style type="text/css">
#log{
  float: right;
}
  .chat_box{
border: 1px solid black;
width: 550px;
}

.chat_box .body_top{
height:200px;
padding-left: 5px;
}
.chat_box .body_top .send{
  clear:both;
  width: 100%;
/*background-color: rgb(178, 227, 255);*/
}
.chat_box .body_top .send .send_content{
  float:left;
  border-radius:5px;
  padding:5px;
  margin:2px;
  background-color: rgb(178, 227, 255);
}
.chat_box .body_top .recv{
  clear:both;
  width: 100%;
  /*background-color: rgb(166, 235, 153);*/
}
.chat_box .body_top .recv .send_content{
  float: right;
  border-radius:5px;
  padding:5px;
  margin:2px;
  background-color: rgb(166, 235, 153);
}
.chat_box .body_top span{
  float:left;
  margin-right:20px;
}
.chat_box .body_bot{
border-top:1px solid black;
  padding: 10px;
}
.chat_box .body_bot .input{

width:80%;
height:50px;
}

#body_top {
height:300px;
    overflow:auto;
}
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.file-wrapper .button {
  background: #79130e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 18px;
  text-transform: uppercase;
  color:white;
}

.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}

</style>
<div class='container'>

  <h2>{{ username }} </h2>
  <hr />
  <h4>Select chat user:</h4> 
  <select ng-change='change()' ng-model="selected" ng-options="a.text for a in datas">
    <option value="" selected>--Select--</option>
  </select>
  <div id='log'></div>

  <div class='chat_box'>
    <div class='body_top' id='body_top'>
    	<div ng-repeat="js in json">
	    	<div class='{{js.class}}'>
	    		<div class='send_content'>
	    			<span>{{ js.send}}:</span> <span>{{ js.content }}</span>
	    		</div>
	    	</div>
    	</div>
    </div>
	
    
    <div class='body_bot' style='margin-top:10px;'>
      <input class='input' ng-model='msg' type='text' id='send' ng-disabled='isUser' />
      <button class='btn'style='margin-top:-10px;' ng-click='send_sms()' id='submit_send' ng-disabled='isUser' >Send</button>
      <span class="file-wrapper">
        <input accept="image/*" type="file" name="photo" id="photo" image="image" />
        <span class="button">Choose a Photo</span>
      </span>
    </div>
  </div>

  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createRoom">
    Create room
  </button>
  <!-- Modal create room -->
  <div class="modal fade" id='createRoom'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create Room</h4>
        </div>
        <div class="modal-body">
          <label>Room:</label>
          <input class="form-control col-md-5" placeholder='Room name' ng-model='rName'/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click='createRoom()'>Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<!-- <form action="/upload" method="post" enctype="multipart/form-data">
  <input  accept="image/*" ng-model='image2' name="image" type='file' image="image" />
  <button type='submit'> Submited </button>
</form> -->

<!-- <img ng-src="upload/tienngo.jpg" style="width: 48px;height:48px;" class="thumbnail"> -->